<!DOCTYPE html>
<html>

<body style="background-color: black; color: white;">
    <div style="display: flex">
        <div style="flex: 1; padding: 20px;">
            <div class="controls" style="margin: auto; text-align: center;">
                <select id="camera-select">
                    <option value="">bruh</option>
                    {% for uuid, name in cameras.items() %}
                    <option value="{{ uuid }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <button id="go-btn">Go</button>
            </div>
            <br>
            <div id="video-container" style="margin: auto;">
                <img id="video-player" src="" alt="Select a camera to start stream"
                    style="display: none; max-width: 900px; margin:auto;">
            </div>
        </div>
        <div style="flex: 1; padding: 20px;">
            <p>Embedding Feed</p>
            {% for vehicle in vehicles %}
            <p>Vehicle ID: {{ vehicle.uuid }}</p>
            {% endfor %}
        </div>
    </div>
    <hr>

    <div id="vehicle-management" style="margin: auto; text-align: center; margin-top: 20px;">
        <h3>Add Vehicle</h3>
        <form action="/add_vehicle" method="post" enctype="multipart/form-data">
            <input type="file" name="pictures" multiple required>
            <button type="submit">Add Vehicle</button>
        </form>

        <h3>Vehicle List</h3>
        <ul style="list-style-type: none; padding: 0;">
            {% for vehicle in vehicles %}
            <li style="margin-bottom: 10px;">
                Vehicle ID: {{ vehicle.uuid }}
                <form action="/delete_vehicle" method="post" style="display: inline;">
                    <input type="hidden" name="uuid" value="{{ vehicle.uuid }}">
                    &#9;
                    <button type="submit">Delete</button>
                </form>
            </li>
            {% else %}
            <li>No vehicles tracked.</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        const videoImg = document.getElementById('video-player');
        const cameraSelect = document.getElementById('camera-select');
        const goBtn = document.getElementById('go-btn');

        function loadStream(uuid) {
            const videoSrc = `/video_feed?uuid=${uuid}`;
            videoImg.style.display = 'block';
            videoImg.src = videoSrc;
        }

        goBtn.addEventListener('click', () => {
            const selectedUuid = cameraSelect.value;
            if (selectedUuid) {
                loadStream(selectedUuid + '&t=' + new Date().getTime());
            } else {
                alert("asdfasdfasdfasdf");
            }
        });
    </script>
</body>

</html>